.todos{
    color: white;


        .loader{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            height: 0px;
        }
    }



.todos{
width: 100%;
background-color: rgb(24, 24, 24);

.parent-todo{
    display: flex;
 flex-direction: column;
  
}
  .todo{  
    display: flex;
    justify-content: space-between;
 position: relative;
    margin: 0px 20px;
    align-items: center;
   
    width: 100%;
    textarea{
        width: 200px;
        height: 60px;
        background-color: rgb(24, 24, 24);
        color: white;
    }
    
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    margin-left: -10px;
  color: aqua;
  div{
    cursor: pointer;
  }
}
}
